.row{
	height:50%;
}
.fighter{
	cursor: pointer;
	

}
body {
    background-color:grey;
   
}
img{
	width:200px;
	height:133px;
}
button{
	    position: absolute;
    height: 270px;
    width: 140px;
    top: 375px;
    left: 615px;
}
.joe{
	position:absolute;
	text-align:center;
	color:white;
	font-size:20px;
	float:left;
	padding:15px;
	left:57px;
}
.sam{
	position:absolute;
	text-align:center;
	color:white;
	font-size:20px;
	float:left;
	padding:15px;
	left:357px;
}
.brian{
	position:absolute;
	text-align:center;
	color:white;
	font-size:20px;
	float:left;
	padding:15px;
	left:691px;
}
.henry{
	position:absolute;
	text-align:center;
	color:white;
	font-size:20px;
	float:left;
	padding:15px;
	left:1052px;

}
.toparena{
	position:absolute;
	width:100%;
	height:15px;
	background-color:black;
	top: 310px;
}
.namesit{
		position:absolute;
	width:100%;
	height:15px;
	background-color:black;
	top: 361px;
}
.leftb{
	position: absolute;
	height:52%;
	width:15px;
	background-color: black;
	top:315px;
	left:55%;
}
.rightb{
		position: absolute;
	height:52%;
	width:15px;
	background-color: black;
	top:315px;
	left:45%;
}
.hero-name{
	position:absolute;
	top: 330px;
    left: 425px;
    font-size:20px;
    font-style:oblique;
    color:white;
}
.enemy-name{
	position:absolute;
	top: 330px;
    left: 791px;
    font-size:20px;
    font-style:oblique;
    color:white;
}
.vs{
	position:absolute;
	top: 324px;
    left: 657px;
    font-size:30px;
    font-style:oblique;
    color:white;
}
.botarena{
		position:absolute;
	width:100%;
	    height: 20px;
    background-color: black;
    top: 640px;
}
.health{
	display: inline-block;
}
.attack{
	display: inline-block;
}
.defence{
	display: inline-block;
}
.winner{
	 position: absolute;
    top: 362px;
    left: 50px;
	height:200px;
	width:300px;
	font-size:100px;